resseler/resseler-bsclient-net/WSDirectSales/Web References/wsdirectsales/CustomerSalesService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://wsdirectsales.cardif.com.br/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="CustomerSalesService" targetNamespace="http://wsdirectsales.cardif.com.br/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema targetNamespace="http://wsdirectsales.cardif.com.br/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="retrieveCustomerSales" type="tns:retrieveCustomerSalesIN" />
      <xs:element name="retrieveCustomerSalesResponse" type="tns:retrieveCustomerSalesOUT" />
      <xs:complexType name="retrieveCustomerSalesIN">
        <xs:sequence>
          <xs:element minOccurs="0" name="retrieveCustomerSalesRequest" type="tns:retrieveCustomerSalesRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="retrieveCustomerSalesOUT">
        <xs:sequence>
          <xs:element minOccurs="0" name="retrieveCustomerSalesResponse" type="tns:retrieveCustomerSalesResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="retrieveCustomerSalesRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="customer" type="tns:customer" />
          <xs:element minOccurs="0" name="operator" type="tns:operator" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="retrieveCustomerSalesResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="certificates" type="tns:certificates" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="doSale" type="tns:doSaleIN" />
      <xs:element name="doSaleResponse" type="tns:doSaleOUT" />
      <xs:complexType name="doSaleIN">
        <xs:sequence>
          <xs:element minOccurs="0" name="doSaleRequest" type="tns:doSaleRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="doSaleOUT">
        <xs:sequence>
          <xs:element minOccurs="0" name="doSaleResponse" type="tns:doSaleResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="doSaleRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="sale" type="tns:sale" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="doSaleResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="certificate" type="tns:insuranceCertificate" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="retrieveCommissions" type="tns:retrieveCommissionsIN" />
      <xs:element name="retrieveCommissionsResponse" type="tns:retrieveCommissionsOUT" />
      <xs:complexType name="retrieveCommissionsIN">
        <xs:sequence>
          <xs:element minOccurs="0" name="retrieveCommissionsRequest" type="tns:retrieveCommissionsRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="retrieveCommissionsOUT">
        <xs:sequence>
          <xs:element minOccurs="0" name="retrieveCommissionsResponse" type="tns:retrieveCommissionsResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="retrieveCommissionsRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="salesman" type="tns:salesman" />
          <xs:element minOccurs="0" name="operator" type="tns:operator" />
          <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="retrieveCommissionsResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="certificates" nillable="true" type="tns:insuranceCertificate" />
          <xs:element minOccurs="0" name="pageCount" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="retrievePerformance" type="tns:retrievePerformanceIN" />
      <xs:element name="retrievePerformanceResponse" type="tns:retrievePerformanceOUT" />
      <xs:complexType name="retrievePerformanceIN">
        <xs:sequence>
          <xs:element minOccurs="0" name="retrievePerformanceRequest" type="tns:retrievePerformanceRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="retrievePerformanceOUT">
        <xs:sequence>
          <xs:element minOccurs="0" name="retrievePerformanceResponse" type="tns:retrievePerformanceResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="retrievePerformanceRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="product" type="tns:productDTO" />
          <xs:element minOccurs="0" name="regional" type="tns:regional" />
          <xs:element minOccurs="0" name="workshop" type="tns:workshop" />
          <xs:element minOccurs="0" name="salesman" type="tns:salesman" />
          <xs:element minOccurs="0" name="startDate" type="xs:date" />
          <xs:element minOccurs="0" name="endDate" type="xs:date" />
          <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="retrievePerformanceResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="score" nillable="true" type="tns:salesmanScore" />
          <xs:element minOccurs="0" name="commissionValueTotal" type="xs:decimal" />
          <xs:element minOccurs="0" name="activeCertificatesQtyTotal" type="xs:long" />
          <xs:element minOccurs="0" name="activeCertificatesValueTotal" type="xs:decimal" />
          <xs:element minOccurs="0" name="pageCount" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="saveSalesman" type="tns:saveSalesmanIN" />
      <xs:element name="saveSalesmanResponse" type="tns:saveSalesmanOUT" />
      <xs:complexType name="saveSalesmanIN">
        <xs:sequence>
          <xs:element minOccurs="0" name="saveSalesmanRequest" type="tns:saveSalesmanRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="saveSalesmanOUT">
        <xs:sequence>
          <xs:element minOccurs="0" name="saveSalesmanResponse" type="tns:saveSalesmanResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="saveSalesmanRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="salesman" type="tns:salesman" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="saveSalesmanResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="inserted" type="xs:boolean" />
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="updateBranchSalesman" type="tns:updateBranchSalesmanIN" />
      <xs:element name="updateBranchSalesmanResponse" type="tns:updateBranchSalesmanOUT" />
      <xs:complexType name="updateBranchSalesmanIN">
        <xs:sequence>
          <xs:element minOccurs="0" name="updateBranchSalesmanRequest" type="tns:updateBranchSalesmanRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="updateBranchSalesmanOUT">
        <xs:sequence>
          <xs:element minOccurs="0" name="updateBranchSalesmanResponse" type="tns:updateBranchSalesmanResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="updateBranchSalesmanRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="salesman" type="tns:salesman" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="updateBranchSalesmanResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="updated" type="xs:boolean" />
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="findLastSalesmanBch" type="tns:findLastSalesmanBchIN" />
      <xs:element name="findLastSalesmanBchResponse" type="tns:findLastSalesmanBchOUT" />
      <xs:complexType name="findLastSalesmanBchIN">
        <xs:sequence>
          <xs:element minOccurs="0" name="findLastSalesmanBchRequest" type="tns:findLastSalesmanBchRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="findLastSalesmanBchOUT">
        <xs:sequence>
          <xs:element minOccurs="0" name="findLastSalesmanBchResponse" type="tns:findLastSalesmanBchResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="findLastSalesmanBchRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="salesman" type="tns:salesman" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="findLastSalesmanBchResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string" />
          <xs:element minOccurs="0" name="salesman" type="tns:salesman" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="updatePaymentMethod" type="tns:updatePaymentMethodIN" />
      <xs:element name="updatePaymentMethodResponse" type="tns:updatePaymentMethodOUT" />
      <xs:complexType name="updatePaymentMethodIN">
        <xs:sequence>
          <xs:element minOccurs="0" name="updatePaymentMethodRequest" type="tns:updatePaymentMethodRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="updatePaymentMethodOUT">
        <xs:sequence>
          <xs:element minOccurs="0" name="updatePaymentMethodResponse" type="tns:updatePaymentMethodResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="updatePaymentMethodRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="certificate" type="tns:insuranceCertificate" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="updatePaymentMethodResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="updated" type="xs:boolean" />
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="salesman">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:operator">
            <xs:sequence>
              <xs:element minOccurs="0" name="salesmanCod" type="xs:string" />
              <xs:element minOccurs="0" name="salesmanBch" type="xs:int" />
              <xs:element minOccurs="0" name="salesmanAtuBch" type="xs:int" />
              <xs:element minOccurs="0" name="bchId" type="xs:int" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="operator">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:systemPerson">
            <xs:sequence>
              <xs:element minOccurs="0" name="operatorName" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="systemPerson">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:personDTO">
            <xs:sequence>
              <xs:element minOccurs="0" name="description" type="xs:string" />
              <xs:element minOccurs="0" name="drtID" type="xs:int" />
              <xs:element minOccurs="0" name="ID" type="xs:int" />
              <xs:element minOccurs="0" name="login" type="tns:loginDTO" />
              <xs:element minOccurs="0" name="mlID" type="xs:int" />
              <xs:element minOccurs="0" name="partner" type="tns:partner" />
              <xs:element minOccurs="0" name="role" type="xs:string" />
              <xs:element minOccurs="0" name="SUP" type="xs:int" />
              <xs:element minOccurs="0" name="type" type="xs:int" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="personDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="birthDate" type="xs:date" />
          <xs:element minOccurs="0" name="contacts" type="tns:contacts" />
          <xs:element minOccurs="0" name="fullName" type="xs:string" />
          <xs:element minOccurs="0" name="gender" type="tns:gender" />
          <xs:element minOccurs="0" name="identity" type="tns:identityDTO" />
          <xs:element minOccurs="0" name="maritalStatus" type="tns:maritalStatus" />
          <xs:element minOccurs="0" name="nationality" type="xs:string" />
          <xs:element minOccurs="0" name="user" type="tns:userDTO" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="loginDTO">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:identification">
            <xs:sequence>
              <xs:element minOccurs="0" name="password" type="xs:string" />
              <xs:element minOccurs="0" name="username" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="userDTO">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:identification">
            <xs:sequence>
              <xs:element minOccurs="0" name="userPwd" type="xs:string" />
              <xs:element minOccurs="0" name="userCod" type="xs:string" />
              <xs:element minOccurs="0" name="profileId" type="xs:string" />
              <xs:element minOccurs="0" name="userWord" type="xs:string" />
              <xs:element minOccurs="0" name="userGrp" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="regional">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:identification">
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="workshops" nillable="true" type="tns:workshop" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="identification">
        <xs:sequence>
          <xs:element minOccurs="0" name="description" type="xs:string" />
          <xs:element minOccurs="0" name="ID" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="partner">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:identification">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="contacts">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="contact" nillable="true" type="tns:contactDTO" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="contactDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="address" type="tns:addressDTO" />
          <xs:element minOccurs="0" name="phone" type="tns:phoneDTO" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="addressDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="addressDetail" type="xs:string" />
          <xs:element minOccurs="0" name="addressNumber" type="xs:string" />
          <xs:element minOccurs="0" name="addressPostalCode" type="xs:string" />
          <xs:element minOccurs="0" name="addressReference" type="xs:string" />
          <xs:element minOccurs="0" name="city" type="xs:string" />
          <xs:element minOccurs="0" name="neighborhood" type="xs:string" />
          <xs:element minOccurs="0" name="state" type="xs:string" />
          <xs:element minOccurs="0" name="type" type="tns:addressType" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="phoneDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="phoneNumber" type="xs:string" />
          <xs:element minOccurs="0" name="type" type="tns:phoneType" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="identityDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="documentType" type="tns:document" />
          <xs:element minOccurs="0" name="documentValue" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sale">
        <xs:sequence>
          <xs:element minOccurs="0" name="customer" type="tns:customer" />
          <xs:element minOccurs="0" name="paymentMethod" type="tns:paymentMethod" />
          <xs:element minOccurs="0" name="product" type="tns:productDTO" />
          <xs:element minOccurs="0" name="salesman" type="tns:salesman" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="customer">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:systemPerson">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="paymentMethod">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:identification">
            <xs:sequence>
              <xs:element minOccurs="0" name="cardPayment" type="tns:cardPaymentDTO" />
              <xs:element minOccurs="0" name="paymentType" type="xs:int" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="cardPaymentDTO">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:identification">
            <xs:sequence>
              <xs:element minOccurs="0" name="cardDisplayName" type="xs:string" />
              <xs:element minOccurs="0" name="cardFlag" type="xs:string" />
              <xs:element minOccurs="0" name="cardNumber" type="xs:string" />
              <xs:element minOccurs="0" name="cardSecurityCode" type="xs:string" />
              <xs:element minOccurs="0" name="cardValidity" type="xs:date" />
              <xs:element minOccurs="0" name="cardValue" type="xs:decimal" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="productDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="descripton" type="xs:string" />
          <xs:element minOccurs="0" name="ID" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="salesmanScore">
        <xs:sequence>
          <xs:element minOccurs="0" name="activeCertificatesQty" type="xs:long" />
          <xs:element minOccurs="0" name="activeCertificatesValue" type="xs:double" />
          <xs:element minOccurs="0" name="product" type="tns:productDTO" />
          <xs:element minOccurs="0" name="regional" type="tns:regional" />
          <xs:element minOccurs="0" name="salesman" type="tns:salesman" />
          <xs:element minOccurs="0" name="taxes" type="tns:taxes" />
          <xs:element minOccurs="0" name="coverages" type="tns:coverages" />
          <xs:element minOccurs="0" name="totalCommissionValue" type="xs:double" />
          <xs:element minOccurs="0" name="workshop" type="tns:workshop" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="insuranceCertificate">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:certificateDTO">
            <xs:sequence>
              <xs:element minOccurs="0" name="coverages" type="tns:coverages" />
              <xs:element minOccurs="0" name="customer" type="tns:customer" />
              <xs:element minOccurs="0" name="insuredObject" type="tns:insuredObject" />
              <xs:element minOccurs="0" name="paymentMethod" type="tns:paymentMethod" />
              <xs:element minOccurs="0" name="plan" type="xs:string" />
              <xs:element minOccurs="0" name="product" type="tns:insuranceDTO" />
              <xs:element minOccurs="0" name="saleCommissionValue" type="xs:decimal" />
              <xs:element minOccurs="0" name="salesman" type="tns:salesman" />
              <xs:element minOccurs="0" name="taxes" type="tns:taxes" />
              <xs:element minOccurs="0" name="workshop" type="tns:workshop" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="certificateDTO">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:identification">
            <xs:sequence>
              <xs:element minOccurs="0" name="capitalSeries" type="tns:capitalSeries" />
              <xs:element minOccurs="0" name="certificateCreationDate" type="xs:date" />
              <xs:element minOccurs="0" name="certificateValidityEndDate" type="xs:date" />
              <xs:element minOccurs="0" name="certificateValidityInitDate" type="xs:date" />
              <xs:element minOccurs="0" name="contractNumber" type="xs:string" />
              <xs:element minOccurs="0" name="policeNumber" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="coverages">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="coverage" nillable="true" type="tns:coverage" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="coverage">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:identification">
            <xs:sequence>
              <xs:element minOccurs="0" name="coveragePremium" type="xs:decimal" />
              <xs:element minOccurs="0" name="coverageValueLimit" type="xs:decimal" />
              <xs:element minOccurs="0" name="installmentLimit" type="xs:int" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="insuredObject">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="beneficiaries" nillable="true" type="tns:beneficiary" />
          <xs:element minOccurs="0" name="ID" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="beneficiary">
        <xs:sequence>
          <xs:element minOccurs="0" name="birthDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="fullName" type="xs:string" />
          <xs:element minOccurs="0" name="percentValue" type="xs:decimal" />
          <xs:element minOccurs="0" name="ID" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="insuranceDTO">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:productDTO">
            <xs:sequence>
              <xs:element minOccurs="0" name="premiumValue" type="xs:decimal" />
              <xs:element minOccurs="0" name="status" type="tns:insuranceStatus" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="taxes">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="tax" nillable="true" type="tns:tax" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="tax">
        <xs:sequence>
          <xs:element minOccurs="0" name="taxType" type="tns:taxType" />
          <xs:element minOccurs="0" name="taxValue" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="workshop">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:identification">
            <xs:sequence>
              <xs:element minOccurs="0" name="branchCode" type="xs:string" />
              <xs:element minOccurs="0" name="regionalID" type="xs:int" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="sallers" nillable="true" type="tns:salesman" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="capitalSeries">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:identification">
            <xs:sequence>
              <xs:element minOccurs="0" name="capitalNumber" type="xs:integer" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="certificates">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="certificate" nillable="true" type="tns:insuranceCertificate" />
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="addressType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="RESIDENTIAL" />
          <xs:enumeration value="BUSINESS" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="phoneType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="RESIDENTIAL" />
          <xs:enumeration value="MOBILE" />
          <xs:enumeration value="BUSINESS" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="gender">
        <xs:restriction base="xs:string">
          <xs:enumeration value="MALE" />
          <xs:enumeration value="FEMALE" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="document">
        <xs:restriction base="xs:string">
          <xs:enumeration value="CPF" />
          <xs:enumeration value="CNPJ" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="maritalStatus">
        <xs:restriction base="xs:string">
          <xs:enumeration value="MARRIED" />
          <xs:enumeration value="SINGLE" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="insuranceStatus">
        <xs:restriction base="xs:string">
          <xs:enumeration value="ACTIVE" />
          <xs:enumeration value="PENDING" />
          <xs:enumeration value="CANCELLED" />
          <xs:enumeration value="REFUSED" />
          <xs:enumeration value="PROPOSAL" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="taxType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="IOF" />
          <xs:enumeration value="PROLABORE" />
        </xs:restriction>
      </xs:simpleType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="doSale">
    <wsdl:part name="parameters" element="tns:doSale" />
  </wsdl:message>
  <wsdl:message name="findLastSalesmanBch">
    <wsdl:part name="parameters" element="tns:findLastSalesmanBch" />
  </wsdl:message>
  <wsdl:message name="findLastSalesmanBchResponse">
    <wsdl:part name="parameters" element="tns:findLastSalesmanBchResponse" />
  </wsdl:message>
  <wsdl:message name="retrieveCommissions">
    <wsdl:part name="parameters" element="tns:retrieveCommissions" />
  </wsdl:message>
  <wsdl:message name="retrieveCustomerSales">
    <wsdl:part name="parameters" element="tns:retrieveCustomerSales" />
  </wsdl:message>
  <wsdl:message name="doSaleResponse">
    <wsdl:part name="parameters" element="tns:doSaleResponse" />
  </wsdl:message>
  <wsdl:message name="retrievePerformanceResponse">
    <wsdl:part name="parameters" element="tns:retrievePerformanceResponse" />
  </wsdl:message>
  <wsdl:message name="saveSalesmanResponse">
    <wsdl:part name="parameters" element="tns:saveSalesmanResponse" />
  </wsdl:message>
  <wsdl:message name="updateBranchSalesmanResponse">
    <wsdl:part name="parameters" element="tns:updateBranchSalesmanResponse" />
  </wsdl:message>
  <wsdl:message name="retrievePerformance">
    <wsdl:part name="parameters" element="tns:retrievePerformance" />
  </wsdl:message>
  <wsdl:message name="retrieveCommissionsResponse">
    <wsdl:part name="parameters" element="tns:retrieveCommissionsResponse" />
  </wsdl:message>
  <wsdl:message name="updatePaymentMethod">
    <wsdl:part name="parameters" element="tns:updatePaymentMethod" />
  </wsdl:message>
  <wsdl:message name="updatePaymentMethodResponse">
    <wsdl:part name="parameters" element="tns:updatePaymentMethodResponse" />
  </wsdl:message>
  <wsdl:message name="retrieveCustomerSalesResponse">
    <wsdl:part name="parameters" element="tns:retrieveCustomerSalesResponse" />
  </wsdl:message>
  <wsdl:message name="updateBranchSalesman">
    <wsdl:part name="parameters" element="tns:updateBranchSalesman" />
  </wsdl:message>
  <wsdl:message name="saveSalesman">
    <wsdl:part name="parameters" element="tns:saveSalesman" />
  </wsdl:message>
  <wsdl:portType name="CustomerSalesService">
    <wsdl:operation name="retrieveCustomerSales">
      <wsdl:input message="tns:retrieveCustomerSales" />
      <wsdl:output message="tns:retrieveCustomerSalesResponse" />
    </wsdl:operation>
    <wsdl:operation name="retrievePerformance">
      <wsdl:input message="tns:retrievePerformance" />
      <wsdl:output message="tns:retrievePerformanceResponse" />
    </wsdl:operation>
    <wsdl:operation name="retrieveCommissions">
      <wsdl:input message="tns:retrieveCommissions" />
      <wsdl:output message="tns:retrieveCommissionsResponse" />
    </wsdl:operation>
    <wsdl:operation name="doSale">
      <wsdl:input message="tns:doSale" />
      <wsdl:output message="tns:doSaleResponse" />
    </wsdl:operation>
    <wsdl:operation name="updatePaymentMethod">
      <wsdl:input message="tns:updatePaymentMethod" />
      <wsdl:output message="tns:updatePaymentMethodResponse" />
    </wsdl:operation>
    <wsdl:operation name="saveSalesman">
      <wsdl:input message="tns:saveSalesman" />
      <wsdl:output message="tns:saveSalesmanResponse" />
    </wsdl:operation>
    <wsdl:operation name="updateBranchSalesman">
      <wsdl:input message="tns:updateBranchSalesman" />
      <wsdl:output message="tns:updateBranchSalesmanResponse" />
    </wsdl:operation>
    <wsdl:operation name="findLastSalesmanBch">
      <wsdl:input message="tns:findLastSalesmanBch" />
      <wsdl:output message="tns:findLastSalesmanBchResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomerSalesServiceSoapBinding" type="tns:CustomerSalesService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="retrieveCustomerSales">
      <soap:operation soapAction="http://wsdirectsales.cardif.com.br/retrieveCustomerSales" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retrievePerformance">
      <soap:operation soapAction="http://wsdirectsales.cardif.com.br/retrievePerformance" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retrieveCommissions">
      <soap:operation soapAction="http://wsdirectsales.cardif.com.br/retrieveCommissions" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="doSale">
      <soap:operation soapAction="http://wsdirectsales.cardif.com.br/doSale" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updatePaymentMethod">
      <soap:operation soapAction="http://wsdirectsales.cardif.com.br/updatePaymentMethod" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveSalesman">
      <soap:operation soapAction="http://wsdirectsales.cardif.com.br/saveSalesman" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateBranchSalesman">
      <soap:operation soapAction="http://wsdirectsales.cardif.com.br/updateBranchSalesman" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findLastSalesmanBch">
      <soap:operation soapAction="http://wsdirectsales.cardif.com.br/findLastSalesmanBch" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomerSalesService">
    <wsdl:port name="CustomerSalesServicePort" binding="tns:CustomerSalesServiceSoapBinding">
      <soap:address location="https://parceiros.cardif.com.br/wsdirectsales/CustomerSalesService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>