resseler/resseler-bsclient-net/WSDirectSales/wsdl/CustomerSalesService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://wsdirectsales.cardif.com.br/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="CustomerSalesService" targetNamespace="http://wsdirectsales.cardif.com.br/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://wsdirectsales.cardif.com.br/" elementFormDefault="unqualified" targetNamespace="http://wsdirectsales.cardif.com.br/" version="1.0">
      <xs:element name="doSale" type="tns:doSale"/>
      <xs:element name="doSaleResponse" nillable="true" type="xs:anyType"/>
      <xs:element name="retrieveCommissions" type="tns:retrieveCommissions"/>
      <xs:element name="retrieveCommissionsResponse" nillable="true" type="xs:anyType"/>
      <xs:element name="retrieveSales" type="tns:retrieveSales"/>
      <xs:element name="retrieveSalesResponse" nillable="true" type="xs:anyType"/>
      <xs:complexType name="retrieveSales">
        <xs:sequence>
          <xs:element minOccurs="0" name="retrieveSalesRequest">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" name="salesman" type="tns:salesman"/>
                <xs:element minOccurs="0" name="operator" type="tns:operator"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="salesman">
        <xs:complexContent>
          <xs:extension base="tns:operator">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="operator">
        <xs:complexContent>
          <xs:extension base="tns:systemPerson">
            <xs:sequence>
              <xs:element minOccurs="0" name="operatorName" type="xs:string"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="systemPerson">
        <xs:complexContent>
          <xs:extension base="tns:personDTO">
            <xs:sequence>
              <xs:element minOccurs="0" name="description" type="xs:string"/>
              <xs:element minOccurs="0" name="drtID" type="xs:int"/>
              <xs:element minOccurs="0" name="ID" type="xs:int"/>
              <xs:element minOccurs="0" name="login" type="tns:loginDTO"/>
              <xs:element minOccurs="0" name="mlID" type="xs:int"/>
              <xs:element minOccurs="0" name="partner" type="tns:partner"/>
              <xs:element minOccurs="0" name="role" type="xs:string"/>
              <xs:element minOccurs="0" name="SUP" type="xs:int"/>
              <xs:element minOccurs="0" name="type" type="xs:int"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="personDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="birthDate" type="xs:date"/>
          <xs:element minOccurs="0" name="contacts" type="tns:contacts"/>
          <xs:element minOccurs="0" name="fullName" type="xs:string"/>
          <xs:element minOccurs="0" name="gender" type="tns:gender"/>
          <xs:element minOccurs="0" name="identity" type="tns:identityDTO"/>
          <xs:element minOccurs="0" name="maritalStatus" type="tns:maritalStatus"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="loginDTO">
        <xs:complexContent>
          <xs:extension base="tns:identification">
            <xs:sequence>
              <xs:element minOccurs="0" name="password" type="xs:string"/>
              <xs:element minOccurs="0" name="username" type="xs:string"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="identification">
        <xs:sequence>
          <xs:element minOccurs="0" name="description" type="xs:string"/>
          <xs:element minOccurs="0" name="ID" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="partner">
        <xs:complexContent>
          <xs:extension base="tns:identification">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="contacts">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="contact" nillable="true" type="tns:contactDTO"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="contactDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="address" type="tns:addressDTO"/>
          <xs:element minOccurs="0" name="phone" type="tns:phoneDTO"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="addressDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="addressDetail" type="xs:string"/>
          <xs:element minOccurs="0" name="addressNumber" type="xs:int"/>
          <xs:element minOccurs="0" name="addressPostalCode" type="xs:string"/>
          <xs:element minOccurs="0" name="addressReference" type="xs:string"/>
          <xs:element minOccurs="0" name="city" type="xs:string"/>
          <xs:element minOccurs="0" name="neighborhood" type="xs:string"/>
          <xs:element minOccurs="0" name="state" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="phoneDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="phoneNumber" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="identityDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="documentType" type="tns:document"/>
          <xs:element minOccurs="0" name="documentValue" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="retrieveSalesResponse">
        <xs:sequence>
          <xs:element minOccurs="0" ref="tns:retrieveSalesResponse"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sale">
        <xs:sequence>
          <xs:element minOccurs="0" name="customer" type="tns:customer"/>
          <xs:element minOccurs="0" name="paymentMethod" type="tns:paymentMethod"/>
          <xs:element minOccurs="0" name="product" type="tns:productDTO"/>
          <xs:element minOccurs="0" name="salesman" type="tns:salesman"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="customer">
        <xs:complexContent>
          <xs:extension base="tns:systemPerson">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="paymentMethod">
        <xs:complexContent>
          <xs:extension base="tns:identification">
            <xs:sequence>
              <xs:element minOccurs="0" name="cardPayment" type="tns:cardPaymentDTO"/>
              <xs:element minOccurs="0" name="paymentType" type="xs:int"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="cardPaymentDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="cardDisplayName" type="xs:string"/>
          <xs:element minOccurs="0" name="cardFlag" type="xs:string"/>
          <xs:element minOccurs="0" name="cardNumber" type="xs:string"/>
          <xs:element minOccurs="0" name="cardSecurityCode" type="xs:string"/>
          <xs:element minOccurs="0" name="cardValidity" type="xs:date"/>
          <xs:element minOccurs="0" name="cardValue" type="xs:decimal"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="productDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="descripton" type="xs:string"/>
          <xs:element minOccurs="0" name="ID" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="retrieveCommissions">
        <xs:sequence>
          <xs:element minOccurs="0" name="retrieveCommissionsRequest">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" name="salesman" type="tns:salesman"/>
                <xs:element minOccurs="0" name="operator" type="tns:operator"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="retrieveCommissionsResponse">
        <xs:sequence>
          <xs:element minOccurs="0" ref="tns:retrieveCommissionsResponse"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="insuranceCertificate">
        <xs:complexContent>
          <xs:extension base="tns:certificateDTO">
            <xs:sequence>
              <xs:element minOccurs="0" name="coverages" type="tns:coverages"/>
              <xs:element minOccurs="0" name="customer" type="tns:customer"/>
              <xs:element minOccurs="0" name="paymentMethod" type="tns:paymentMethod"/>
              <xs:element minOccurs="0" name="product" type="tns:insuranceDTO"/>
              <xs:element minOccurs="0" name="saleCommissionValue" type="xs:decimal"/>
              <xs:element minOccurs="0" name="salesman" type="tns:salesman"/>
              <xs:element minOccurs="0" name="taxes" type="tns:taxes"/>
              <xs:element minOccurs="0" name="workshop" type="tns:workshop"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="certificateDTO">
        <xs:complexContent>
          <xs:extension base="tns:identification">
            <xs:sequence>
              <xs:element minOccurs="0" name="capitalSeries" type="tns:capitalSeries"/>
              <xs:element minOccurs="0" name="certificateCreationDate" type="xs:date"/>
              <xs:element minOccurs="0" name="certificateValidityEndDate" type="xs:date"/>
              <xs:element minOccurs="0" name="certificateValidityInitDate" type="xs:date"/>
              <xs:element minOccurs="0" name="contractNumber" type="xs:string"/>
              <xs:element minOccurs="0" name="policeNumber" type="xs:string"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="coverages">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="coverage" nillable="true" type="tns:coverage"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="coverage">
        <xs:complexContent>
          <xs:extension base="tns:identification">
            <xs:sequence>
              <xs:element minOccurs="0" name="coveragePremium" type="xs:decimal"/>
              <xs:element minOccurs="0" name="coverageValueLimit" type="xs:decimal"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="insuranceDTO">
        <xs:complexContent>
          <xs:extension base="tns:productDTO">
            <xs:sequence>
              <xs:element minOccurs="0" name="premiumValue" type="xs:decimal"/>
              <xs:element minOccurs="0" name="status" type="tns:insuranceStatus"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="taxes">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="tax" nillable="true" type="tns:tax"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="tax">
        <xs:sequence>
          <xs:element minOccurs="0" name="taxType" type="tns:taxType"/>
          <xs:element minOccurs="0" name="taxValue" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="workshop">
        <xs:complexContent>
          <xs:extension base="tns:identification">
            <xs:sequence>
              <xs:element minOccurs="0" name="regionalID" type="xs:int"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="sallers" nillable="true" type="tns:salesman"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="capitalSeries">
        <xs:complexContent>
          <xs:extension base="tns:identification">
            <xs:sequence>
              <xs:element minOccurs="0" name="capitalNumber" type="xs:integer"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="doSale">
        <xs:sequence>
          <xs:element minOccurs="0" name="doSaleRequest">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" name="sale" type="tns:sale"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="doSaleResponse">
        <xs:sequence>
          <xs:element minOccurs="0" ref="tns:doSaleResponse"/>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="gender">
        <xs:restriction base="xs:string">
          <xs:enumeration value="MALE"/>
          <xs:enumeration value="FEMALE"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="document">
        <xs:restriction base="xs:string">
          <xs:enumeration value="CPF"/>
          <xs:enumeration value="CNPJ"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="maritalStatus">
        <xs:restriction base="xs:string">
          <xs:enumeration value="MARRIED"/>
          <xs:enumeration value="SINGLE"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="insuranceStatus">
        <xs:restriction base="xs:string">
          <xs:enumeration value="ACTIVE"/>
          <xs:enumeration value="PENDING"/>
          <xs:enumeration value="CANCELLED"/>
          <xs:enumeration value="REFUSED"/>
          <xs:enumeration value="PROPOSAL"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="taxType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="IOF"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:element name="retrieveCustomer" type="tns:retrieveCustomer"/>
      <xs:element name="retrieveCustomerResponse" nillable="true" type="xs:anyType"/>
      <xs:complexType name="retrieveCustomer">
        <xs:sequence>
          <xs:element minOccurs="0" name="retrieveCustomerRequest">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" name="customer" type="tns:customer"/>
                <xs:element minOccurs="0" name="operator" type="tns:operator"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="retrieveCustomerResponse">
        <xs:sequence>
          <xs:element minOccurs="0" ref="tns:retrieveCustomerResponse"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="certificates">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="certificate" nillable="true" type="tns:insuranceCertificate"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="retrieveCommissionsResponse">
    <wsdl:part element="tns:retrieveCommissionsResponse" name="parametersResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="doSale">
    <wsdl:part element="tns:doSale" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="retrieveCommissions">
    <wsdl:part element="tns:retrieveCommissions" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="retrieveCustomerResponse">
    <wsdl:part element="tns:retrieveCustomerResponse" name="parametersResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="retrieveSalesResponse">
    <wsdl:part element="tns:retrieveSalesResponse" name="parametersResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="doSaleResponse">
    <wsdl:part element="tns:doSaleResponse" name="parametersResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="retrieveCustomer">
    <wsdl:part element="tns:retrieveCustomer" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="retrieveSales">
    <wsdl:part element="tns:retrieveSales" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CustomerSalesService">
    <wsdl:operation name="retrieveCustomer">
      <wsdl:input message="tns:retrieveCustomer" name="retrieveCustomer">
    </wsdl:input>
      <wsdl:output message="tns:retrieveCustomerResponse" name="retrieveCustomerResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retrieveSales">
      <wsdl:input message="tns:retrieveSales" name="retrieveSales">
    </wsdl:input>
      <wsdl:output message="tns:retrieveSalesResponse" name="retrieveSalesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retrieveCommissions">
      <wsdl:input message="tns:retrieveCommissions" name="retrieveCommissions">
    </wsdl:input>
      <wsdl:output message="tns:retrieveCommissionsResponse" name="retrieveCommissionsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="doSale">
      <wsdl:input message="tns:doSale" name="doSale">
    </wsdl:input>
      <wsdl:output message="tns:doSaleResponse" name="doSaleResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomerSalesServiceSoapBinding" type="tns:CustomerSalesService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="retrieveCustomer">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="retrieveCustomer">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="retrieveCustomerResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retrieveSales">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="retrieveSales">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="retrieveSalesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retrieveCommissions">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="retrieveCommissions">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="retrieveCommissionsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="doSale">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="doSale">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="doSaleResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomerSalesService">
    <wsdl:port binding="tns:CustomerSalesServiceSoapBinding" name="CustomerSalesServicePort">
      <soap:address location="https://uatparceiros.cardif.com.br/wsdirectsales/CustomerSalesService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>